/* RESET & FONT */
* { 
  margin: 0; 
  padding: 0; 
  font-family: "Poppins", sans-serif; 
  scroll-behavior: smooth; 
}
body { 
  background: linear-gradient(135deg, #403131, #7d7b7b, #ededed); 
  color: #333333;
}

/* NAVBAR */
nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 25px 50px;
  backdrop-filter: blur(10px);
  background: rgba(160, 144, 144, 0.7);
  border-bottom: 1px solid #dcdcdc;
  position: sticky; 
  top:0; 
  z-index: 10;
}
nav .logo {
  font-size: 28px; 
  font-weight: 600;
  color: #444444;
}
nav ul { list-style:none; display:flex; gap:30px; }
nav ul li a { 
  color:#555555; 
  text-decoration:none; 
  transition:0.3s; 
}
nav ul li a:hover { 
  color:#786565; 
}

/* HERO */
.hero { 
  display:flex; 
  justify-content:space-between; 
  align-items:center; 
  padding:80px 50px; 
  min-height:80vh; 
}
.hero-left h1 { 
  font-size:55px; 
  color:#222222;
}
.hero-left h1 span { 
  color:#888888;
}
.hero-left p { 
  margin-top:10px; 
  color:#aba5a5; 
  font-size:18px; 
}

.btn {
  margin-top:25px; 
  display:inline-block;
  background:#443838;
  padding:14px 35px; 
  border-radius:10px; 
  color:#655c5c; 
  text-decoration:none; 
  font-weight:600;
  transition:0.3s; 
  box-shadow:0 0 15px rgba(100, 96, 96, 0.7);
}
.btn:hover { 
  transform:translateY(-4px); 
  box-shadow:0 0 25px rgba(57, 33, 33, 0.9); 
}

/* HERO IMAGE */
.hero-right { 
  display:flex; 
  justify-content:center; 
  align-items:center; 
}
.hero-img { 
  width:280px; 
  height:auto; 
  border-radius:20px; 
  box-shadow:0 0 20px rgba(203, 161, 161, 0.7); 
  animation:float 4s ease-in-out infinite; 
}
@keyframes float { 
  0% {transform:translateY(0);} 
  50% {transform:translateY(-12px);} 
  100% {transform:translateY(0);} 
}

/* SECTION DEFAULT */
section { padding:80px 50px; }
h2 { 
  font-size:32px; 
  margin-bottom:20px; 
  color:#333333;
}

/* SKILL */
.skills-list {
  display: flex; 
  gap: 20px; 
  flex-wrap: wrap;
}
.skill-box {
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  color: #333333;
  font-size: 18px;
  transition: .3s ease;
  box-shadow: 0 0 20px rgba(255,255,255,0.6);
}
.skill-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(255,255,255,0.8);
}

/* PROJECT */
.project-container { 
  display:flex; 
  gap:25px; 
  flex-wrap:wrap; 
  justify-content:center; 
}
.project-card {
  background: #ffffff; 
  border-radius:20px; 
  padding:30px; 
  width:320px;
  border:1px solid #e0e0e0; 
  transition:0.3s ease; 
  text-align:center;
  box-shadow:0 0 20px rgba(255,255,255,0.5);
}
.project-card:hover { 
  transform:translateY(-10px); 
  box-shadow:0 0 30px rgba(255,255,255,0.8); 
}

.project-img {
  width:280px; 
  height:auto; 
  border-radius:20px; 
  margin-top:10px;
  box-shadow:0 0 20px rgba(255,255,255,0.7); 
  transition:transform 0.3s, box-shadow 0.3s;
}
.project-img:hover { 
  transform:translateY(-5px) scale(1.05); 
  box-shadow:0 0 35px rgba(255,255,255,0.9); 
}

/* CONTACT */
.contact { 
  text-align:center; 
}

/* FOOTER */
footer { 
  text-align:center; 
  padding:20px; 
  background:#f8f8f8; 
  border-top:1px solid #e0e0e0;
  margin-top:40px; 
  color:#555555;
}
